
.GameBody {
  background-color: #1B2631;}

.GameBox {
  display: inline-block;
  padding: 7px;
  vertical-align: top;
  position: relative;}

.GameCover {
  width: 100px;
  height:150px;
  position: relative;
  border-radius: 5% !important;}

.GameText {
  text-align: center;
  color: white;
  font-family: ui-monospace,SFMono-Regular,SF Mono,Menlo,Consolas,Liberation Mono,monospace;
  font-size: 12px;
  width: 100px;}





  

