
.GameBody {
  background-color: #1B2631;}

.GameBox {
  display: inline-block;
  padding: 10px;
  vertical-align: top;
  position: relative;}

.GameCover {
  width: 100px;
  height:150px;
  position: relative;
  border-radius: 5% !important;}

.GameText {
  text-align: center;
  color: white;
  font-size: 13px;
  width: 150px;}





  

